.toast {
  position: fixed;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #26a699;
  opacity: 0.8;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
